@font-face {
    font-family: "Roboto";
    src: url("../fonts/roboto.woff2") format("woff2"),
    url("../fonts/roboto.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/robotobold.woff2") format("woff2"),
    url("../fonts/robotobold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/robotomedium.woff2") format("woff2"),
    url("../fonts/robotomedium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    color: #ffffff;
    min-width: 1200px;
    background-color: #849d8f;
}

a {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(0, 0, 0, 0);
}

.container {
    width: 1146px;
    margin: 0 auto;
    padding: 0 27px;
}

.main-nav {
    display: flex;
    justify-content: flex-start;
    padding-top: 10px;
}

.main-nav__list-link {
    padding: 0;
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    width: 350px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 25px;
}

.main-nav__item-link:hover {
    background-color: rgb(247, 246, 243);
    border-radius: 30px;
    color: #323232;
    font-weight: 700;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.main-nav__item-link {
    color: inherit;
    border-bottom: 1px solid #9fb4a9;
    position: relative;
}

.main-nav__list-small {
    display: none;
    position: absolute;
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: absolute;

    width: 140px;
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.main-nav__item-link--catalog:hover~.main-nav__list-small {
    display: block;
}

.main-nav__link-small {
    color: #323232;
    font-size: 14px;
    line-height: 16px;
    font-weight: 300;
}


.main-nav__list-small li:first-child {
    border-radius: 7px 7px 0 0;
}

.main-nav__list-small li:last-child {
    border-radius: 0 0 7px 7px;
}

.main-nav__item-small {
    background-color: #f8f7f4;
    padding-top: 10px;
    padding-left: 10px;
}

.main-nav__link-small--current {
    font-weight: 700;
    color: #ffffff;
}

.main-nav__link-small--special {
    font-weight: 700;
}

.main-nav__item-small--current {
    border-bottom: 1px solid black;
}

.main-nav__item-small:hover {
    background-color: #fbded7;
}

.main-nav__item-small:active {
    background-color: #f6b5a5;
}

.main-nav__item-small--current {
    background-color: #d07058;
}

.main-nav__list-shop {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    width: 300px;
    margin-top: 16px;
}

.main-nav__item-shop {
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    width: 93px;
    text-align: center;
    padding-top: 8px;
    height: 20px;
    border-radius: 35px;
    background-color: rgb(255, 255, 255, 0.2);
    position: relative;
}

.main-nav__item-shop--search::before {
    content: "";
    background-image: url(../img/zoom.png);
    position: absolute;
    width: 17px;
    height: 17px;
    top: 7px;
    left: 7px;
}

.main-nav__item-shop--search:hover::before {
    content: "";
    background-image: url(../img/zoom-hover.png);
}

.main-nav__item-shop:hover {
    background-color: #ffffff;
}

.main-nav__item-shop--enter::before {
    content: "";
    background-image: url(../img/enter.png);
    position: absolute;
    width: 17px;
    height: 17px;
    top: 7px;
    left: 7px;
}

.main-nav__item-shop--enter:hover::before {
    content: "";
    background-image: url(../img/enter-hover.png);
}

.main-nav__item-shop--basket::before {
    content: "";
    background-image: url(../img/basket.png);
    position: absolute;
    width: 17px;
    height: 17px;
    top: 7px;
    left: 7px;
}

.main-nav__item-shop--basket:hover::before {
    content: "";
    background-image: url(../img/basket-active.png);
}

.main-nav__item-shop:hover>button {
    color: #323232;
}

.main-nav__item-shop--enter:hover>.login {
    display: block;
}

.main-nav__shadow-btn {
    padding: 0;
    border: none;
    background: none;
    color: #ffffff;
    font-weight: 500;
}

.main-nav__hover-search {
    width: 345px;
    height: 82px;
    background-color: #f8f7f4;
    border-radius: 10px;
    display: none;
}

.main-nav__item-shop--search:hover>.main-nav__hover-search {
    display: block;
}

.main-nav__input-search {
    width: 320px;
    height: 42px;
    margin-top: 15px;
    border-radius: 8px;
    border: 1px solid;
    border-color: rgb(211, 211, 210);
    color: #999999;
    padding-left: 10px;
}

.login {
    width: 278px;
    height: 214px;
    position: absolute;
    background-color: white;
    border-radius: 10px;
    background-color: #f8f7f4;
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
    display: none;
}

.login__input {
    width: 240px;
    height: 43px;
    margin-top: 15px;
    border-radius: 8px;
    border: 1px solid;
    border-color: rgb(211, 211, 210);
    padding-left: 10px;
}

.login__submit {
    display: inline-block;
    padding: 12px 35px;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #ffffff;
    vertical-align: top;
    text-decoration: none;
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

    background: #f26843;
    background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
    border-radius: 50px;
    box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
    border: none;

    cursor: pointer;
    margin-top: 15px;
}

.login__registration-wrap {
    display: inline-block;
    background-color: #f8f7f4;
    margin-top: 15px;
}

.login__additional {
    display: block;
    text-align: left;
    padding-top: 5px;
    color: #323232;
    border-bottom: 0.2px solid #323232;
}

.time-phone {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.time-phone__phone {
    color: inherit;
    font-size: 22px;
    line-height: 24px;
    font-weight: 700;
}

.adv-slider__list {
    padding: 0;
    list-style-type: none;
    text-align: center;
}

.adv-slider__button {
    display: inline-block;
    padding: 12px 44px;

    font-weight: 600;
    font-size: 31px;
    line-height: 41px;
    text-align: center;
    color: #ffffff;
    vertical-align: top;
    text-decoration: none;
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

    background: #f26843;
    background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
    border-radius: 50px;
    box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
    border: none;

    cursor: pointer;
}

.button:hover {
    background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
    box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
    background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
    box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.adv-slider__title {
    width: 700px;
    margin: 0 auto;
    margin-bottom: 27px;

    font-size: 60px;
    line-height: 60px;
    font-weight: 800;

    position: relative;

    padding-top: 321px;

    text-align: center;
    color: #ffffff;
}

.adv-slider__controls label {
    display: inline-block;
    width: 17px;
    height: 17px;
    margin-right: 8px;

    vertical-align: top;

    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 50%;
    cursor: pointer;
}

.adv-slider__controls {
    position: absolute;
    top: 600px;
    left: 400px;

    z-index: 20;
    font-size: 0;
}

.slide {
    display: none;
}

.cccontaier {

    min-width: 940px;
    background-color: #849d8f;
    background-repeat: no-repeat;
    background-position: top center;
    transition: background-image 0.5s ease, background-color 0.5s ease;
}

#product-1:checked~.cccontaier #slide1,
#product-2:checked~.cccontaier #slide2,
#product-3:checked~.cccontaier #slide3 {
    display: block;
}

#product-1:checked~.cccontaier label[for="product-1"],
#product-2:checked~.cccontaier label[for="product-2"],
#product-3:checked~.cccontaier label[for="product-3"] {
    background-color: #ffffff;
}

#product-1:checked~.cccontaier {
    background-color: #849d8f;
    background-image: url("../img/slider-item1.png");
}

#product-2:checked~.cccontaier {
    background-color: #8996a6;
    background-image: url("../img/slider-item2.png");
}

#product-3:checked~.cccontaier {
    background-color: #9d8b84;
    background-image: url("../img/slider-item3.png");
}

.container--gifts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.gifts__cranberry {
    width: 560px;
    min-height: 230px;
    background-image: url(../img/malinafon.png);
}

.gifts__chocolate {
    width: 560px;
    min-height: 230px;
    background-image: url(../img/chocofon.png);
}

.gifts__title {
    font-size: 35px;
    line-height: 41px;
    font-weight: 700;
    padding-left: 23px;
}

.gifts__text {
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    padding-left: 23px;
}

.gifts__btn {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: inherit;
    background-image: -moz-linear-gradient( 90deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
    box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
    border-radius: 30px;
    width: 280px;
    height: 64px;
    padding: 10px 25px;
}

.sales-hit__list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}

.sales-hit__item {
    width: 267px;
    border-radius: 5px 5px 0 0;
    position: relative;
}
.sales-hit__item:before {
  content: "";
  background-image: url(../img/hit.png);
  background-repeat: no-repeat;
  position: absolute;
  width: 60px;
  height: 60px;
  top:20px;
  left: 40px;
}
.sales-hit__btn-wrap {
    display: none;
    width: 267px;
    border-radius: 0 0 5px 5px;
    background-color: rgb(248, 247, 244, 0.2);
}

.sales-hit__item:hover>.sales-hit__btn-wrap {
    display: block;
    position: absolute;
}

.sales-hit__item:hover {
    /*border-radius: 5px ;*/
    background-color: rgb(248, 247, 244, 0.2);
}


.sales-hit__price {
    font-size: 45px;
    line-height: 45px;
    font-weight: 700;
    position: absolute;
    top: 150px;
}

.sales-hit__desc {
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    text-align: center;
    margin-top: 0;
}

.sales-hit__btn {
    display: inline-block;
    margin-left: 15px;
    padding: 12px 35px;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #ffffff;
    vertical-align: top;
    text-decoration: none;
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

    background: #f26843;
    background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
    border-radius: 50px;
    box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
    border: none;

    cursor: pointer;
    /*display: none;*/
}

.about-us__background {
    background-color: #eee3d0;
    background-image: url(../img/font.jpg);
    border-radius: 15px;
}

.about-us__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}

.about-us__title {
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
    color: #323232;
}

.about-us__text {
    font-size: 16px;
    line-height: 22px;
    color: #323232;
    width: 573px;
}

.container--news {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

.blog {
    background-color: #ffffff;
    background-image: url(../img/font-straw.jpg);
    border-radius: 15px;
    width: 560px;
    min-height: 220px;
}

.blog__news {
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    color: #323232;
}

.blog__text {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    color: #323232;
    border-bottom: 1px solid #323232;
    width: 293px;
    display: inline;
}

.subscribe {
    background-image: url(../img/subscribe-font.jpg);
    border-radius: 15px;
    width: 560px;
    min-height: 221px;
}

.subscribe__wrap {
    background-color: #f8f7f4;
    background-image: url(../img/subscribe-white.jpg);
    height: 210px;
    border-radius: 15px;
    width: 545px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.subscribe__text {
    font-size: 16px;
    line-height: 22px;
    color: #5a5a5a;
}

.subscribe__mail {
    width: 370px;
}

.subscribe__btn {
    padding: 0;
    border: none;
    background: none;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: inherit;
    background-image: -moz-linear-gradient( 90deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
    box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
    border-radius: 30px;
    width: 130px;
    height: 40px;
    padding: 5px 10px;
}

.container--contacts {
    display: flex;
}

.contacts {
    width: 300px;
    max-height: 305px;
    background-color: #fdfefe;
    margin-left: auto;
    margin-top: -400px;
    border-radius: 15px;
}

.contacts__text {
    font-size: 14px;
    line-height: 20px;
    color: #323232;
}

.contacts__adress {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: #323232;
}

.contacts__btn {
    padding: 0;
    border: none;
    background: none;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: inherit;
    background-image: -moz-linear-gradient( 90deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
    box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
    border-radius: 30px;
    width: 230px;
    height: 40px;
    padding: 5px 10px;
    margin-left: 30px;
}

.container--footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.support__list {
    list-style-type: none;
    padding: 0;
    width: 560px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.support__item {
    width: 267px;
}

.copyright {
    width: 267px;
}

.copyright__logo {
    width: 125px;
    height: 44px;
    background-image: url(../img/logo-footer.png);
    background-repeat: no-repeat;
    display: block;
}

.map {
    margin: 0 auto;
    width: 1200px;
}

.social__list {
    list-style-type: none;
    padding: 0;
    width: 190px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.social__link--twitter:before {
    content: "";
    background-image: url(../img/tw.png);
    background-repeat: no-repeat;
    display: inline-block;
    width: 38px;
    height: 38px;
}

.social__link--instagram:before {
    content: "";
    background-image: url(../img/ins.png);
    background-repeat: no-repeat;
    display: inline-block;
    width: 38px;
    height: 38px;
}

.social__link--facebook:before {
    content: "";
    background-image: url(../img/fb.png);
    background-repeat: no-repeat;
    display: inline-block;
    width: 38px;
    height: 38px;
}

.social__link--vkontakte:before {
    content: "";
    background-image: url(../img/vk.png);
    background-repeat: no-repeat;
    display: inline-block;
    width: 38px;
    height: 38px;
}

.support__link {
    color: inherit;
}

.support__link:hover {
    color: orange;
}

.copyright__link {
    color: inherit;
}


/*wwwwwwwwwwwww
wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww
wwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww*/


/*CATALOG PAGE WWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWwwwwwwwwwww
*/

.ccontainer {
    width: 1146px;
    margin: 0 auto;
    padding: 0 27px;
    background-color: #849d8f;
    background-repeat: no-repeat;
    background-position: top center;
}

.main-nav__item-link--catalog {
    background-color: #d07058;
    border-radius: 30px;
    color: #ffffff;
    font-weight: 700;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.main-nav__item-link--catalog:active {
    background-color: #ffffff;
    color: #333333;
    box-shadow: 2px 2px 2px 0px rgba(172, 16, 0, 0.64);
}

.shop-wrap {
    position: absolute;
    z-index: 200;
    left: 0;
    width: 520px;
    height: 242px;
    background-color: #f8f7f4;
    color: #323232;
    border-radius: 8px;
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
    padding: 0 10px;
    display: none;
}

.main-nav__item-shop--product:hover>.shop-wrap {
    display: block;
}

.shop-wrap__list {
    list-style-type: none;
    padding: 0;
}

.shop-wrap__cancel {
    display: inline-block;
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;

    background: transparent;
}

.shop-wrap__logo--yellow {
    display: inline-block;
    background-image: url(../img/small1.png);
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
}

.shop-wrap__logo--purple {
    display: inline-block;
    background-image: url(../img/small2.png);
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
}

.shop-wrap__text {
    display: inline-block;
    width: 230px;
    margin: 0;
    font-size: 13px;
    line-height: 16px;
}

.shop-wrap__count {
    display: inline-block;
    font-size: 13px;
    line-height: 16px;
}

.shop-wrap__price {
    display: inline-block;
    font-size: 13px;
    line-height: 16px;
}

.shop-wrap__total {
    width: 500px;
    border-top: 1px solid black;
}

.shop-wrap__btn {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: inherit;
    background-image: -moz-linear-gradient( 90deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
    box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
    border-radius: 30px;
    width: 230px;
    height: 40px;
}



.breadcrumbs__list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.breadcrumbs__link {
    font-size: 14px;
    line-height: 16px;
    color: inherit;
}

.breadcrumbs__icecream {
    font-size: 35px;
    line-height: 41px;
    font-weight: 700;
}

.form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.sort-tools {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.sort-tools__list {
    padding: 0;
    list-style-type: none;
}

.sort-tools__title {
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    /*margin-bottom: 0;*/
}

.sort-tools__range--two {
    display: none;
}

.sort-tools__item--fat {
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.sort-tools__item--fat input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.sort-tools__radio-pic {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-image: url(../img/radio-off.png);
    background-repeat: no-repeat;
}

.sort-tools__item--fat:hover input~.sort-tools__radio-pic {
    background-image: url(../img/radio-off-hover.png);
}

.sort-tools__item--fat input:checked~.sort-tools__radio-pic {
    background-image: url(../img/radio-on.png);
}

.sort-tools__item--fill {
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.sort-tools__item--fill input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.sort-tools__checkbox-pic {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-image: url(../img/checkbox-off.png);
    background-repeat: no-repeat;
}

.sort-tools__item--fill:hover input~.sort-tools__checkbox-pic {
    background-image: url(../img/checkbox-off-hover.png);
}

.sort-tools__item--fill input:checked~.sort-tools__checkbox-pic {
    background-image: url(../img/checkbox-on.png);
}

.sort-tools__wrap--popular {
    width: 193px;
}

.sort-tools__list--popular {
    list-style-type: none;
    position: relative;
}

.sort-tools__wrap--range {
    width: 218px;
}

.sort-tools__wrap--fat {
    width: 415px;
}

.sort-tools__list--fat {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.sort-tools__wrap--fill {
    width: 703px;
}

.sort-tools__list--fill {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.sort-tools__btn {
    width: 145px;
}

.sort-tools__list {
    border-radius: 15px;
    background-color: #a9b9af;
}

.sort-tools__item {
    display: flex;
    align-items: center;
}

.sort-tools__list-small {
    padding: 0;
    position: absolute;
    left: 150px;
    width: 195px;
    height: 90px;
    background-color: #ffffff;
    display: none;
}

.sort-tools__item--popular:hover>.sort-tools__list-small {
    display: block;
}

.sort-tools__item-small {
    list-style-type: none;
    padding: 0;
}

.sort-tools__item-small:hover {
    background-color: #1e90ff;
    cursor: pointer;
}

.sort-tools__item-small:hover>a {
    color: #ffffff;
}

.sort-tools__link-small {
    text-decoration: none;
    color: #323232;
    border-bottom: 1px solid black;
    margin-left: 15px;
}

.sort-tools__btn {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    border: 2px solid #ffffff;
    border-radius: 30px;
    width: 144px;
    height: 40px;
    padding: 5px 5px;
    cursor: pointer;
    color: #ffffff;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    background-color: rgb(248, 247, 244, 0.2)
}

.sort-tools__btn:hover {
    color: #323232;
    background-color: #ffffff;
}

.sort-tools__btn:active {
    box-shadow: inset 0 2px 2px;
}

.results__list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.results__item {
    width: 267px;
    position: relative;
    border-radius: 5px 5px 0 0;
}

.results__item:hover:nth-of-type(even) {
    z-index: 1000;
}

.results__item:hover:nth-of-type(odd) {
    z-index: 90;
}

.results__btn-wrap {
    display: none;
    width: 267px;
    border-radius: 0 0 5px 5px;
    background-color: rgb(248, 247, 244, 0.2);
}

.results__item:hover>.results__btn-wrap {
    display: block;
    position: absolute;
}

.results__item:hover {
    border-radius: 5px;
    background-color: rgb(248, 247, 244, 0.2);
}

.results__price {
    font-size: 45px;
    line-height: 45px;
    font-weight: 700;
    position: absolute;
    top: 150px;
}

.results__desc {
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    text-align: center;
    margin-top: 0;
}

.results__item:hover {
    border-radius: 5px;
    background-color: rgb(248, 247, 244, 0.2);
}



.results__btn {
    display: inline-block;
    margin-left: 15px;
    padding: 12px 35px;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #ffffff;
    vertical-align: top;
    text-decoration: none;
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

    background: #f26843;
    background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
    border-radius: 50px;
    box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
    border: none;

    cursor: pointer;
    /*display: none;*/
}

.pagination__list {
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}

.pagination__link {
    color: inherit;
    width: 20px;
    display: block;
    text-align: center;
}

.pagination__link:hover {
    background-color: rgb(255, 255, 255, 0.2);
    border-radius: 50%;
}

.pagination__item:first-child>.pagination__link {
    color: rgb(255, 255, 255, 0.2);
}


.pagination__link--current {
    background-color: #ffffff;
    border-radius: 50%;
    text-align: center;
    color: #323232;
}


/*WWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWW*/

.sort-tools__range-controls {
    position: relative;
    width: 180px;
    height: 30px;
    border-radius: 15px;
    background-color: rgb(255, 255, 255, 0.2);
}

.sort-tools__range-controls .sort-tools__scale {
    height: 4px;
    /*background: rgba(255, 255, 255, 0.3);*/
    padding-top: 12px;
}

.sort-tools__range-controls .sort-tools__bar {
    width: 80%;
    height: 4px;
    background: #ffffff;
}

.sort-tools__range-toggle {
    position: absolute;
    top: 4px;

    width: 4px;
    height: 4px;

    background: #ffffff;
    border: 8px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
}

.sort-tools__range-toggle--min {
    left: 0;
}

.sort-tools__range-toggle--max {
    left: 80%;
}
