@font-face {
    font-family: "Roboto";
    src: url("../fonts/roboto.woff2") format("woff2"),
    url("../fonts/roboto.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/robotobold.woff2") format("woff2"),
    url("../fonts/robotobold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/robotomedium.woff2") format("woff2"),
    url("../fonts/robotomedium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: normal;
    color: #ffffff;
    min-width: 1200px;
    background-color: #849d8f;
}

a {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(0, 0, 0, 0);
}

.container {
    width: 1146px;
    margin: 0 auto;
    padding: 0 27px;
}

.main-nav {
    display: flex;
    justify-content: flex-start;
    padding-top: 8px;
}

.main-nav__list-link {
    padding: 0;
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    width: 375px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*margin-top: 20px;*/
    margin-left: 12px;
}

.main-nav__item {
    border-radius: 30px;
    color: #ffffff;
    height: 30px;
}

.main-nav__item:hover {
    background-color: rgb(247, 246, 243);
    color: #323232;
}


.main-nav__item-link {
    color: inherit;
    text-decoration: underline;
    text-decoration-color: #ffffff;
    position: relative;
    padding: 0 12px;
    top: 5px;
}

.main-nav__list-small {
    display: none;
    position: absolute;
    top: 55px;
    z-index: 20;
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style: none;
    position: absolute;

    width: 140px;
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.main-nav__item:first-child:hover>.main-nav__list-small {
    display: block;
}

.main-nav__item:first-child:focus>.main-nav__list-small {
    display: block;
}

.main-nav__item:first-child:visited>.main-nav__list-small {
    display: block;
}

.main-nav__link-small {
    color: #323232;
    font-size: 14px;
    line-height: 16px;
    font-weight: 300;
}


.main-nav__list-small li:first-child {
    border-radius: 7px 7px 0 0;
}

.main-nav__list-small li:last-child {
    border-radius: 0 0 7px 7px;
}

.main-nav__item-small {
    background-color: #f8f7f4;
    padding-top: 10px;
    padding-left: 10px;
    height: 25px;
}

.main-nav__link-small--current {
    font-weight: 700;
    color: #ffffff;
}

.main-nav__item-small--special:after {
    content: "";
    border-bottom: 1px solid gray;
    width: 128px;
    /*height: 1px;*/
    /*margin: 0 auto;*/
    position: absolute;
    top: 35px;
    left: 5px;
}

.main-nav__link-small--special {
    font-weight: 700;
}

.main-nav__item-small--current {
    border-bottom: 1px solid rgb(255, 255, 255, 0.2);
}

.main-nav__item-small:hover {
    background-color: #fbded7;
}

.main-nav__item-small:active {
    background-color: #f6b5a5;
}

.main-nav__item-small--current {
    background-color: #d07058;
}

.main-nav__list-shop {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: auto;
    width: 243px;
    margin-top: 16px;
}

.main-nav__item-shop {
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    /*width: 93px;*/
    text-align: center;
    padding-top: 8px;
    height: 22px;
    border-radius: 35px;
    background-color: #aabcb2;
    position: relative;
}

.main-nav__item-shop--search {
    width: 33px;
    /*height: 33px;*/
}

.main-nav__item-shop--search::before {
    content: "";
    background-image: url(../img/zoom.png);
    position: absolute;
    width: 17px;
    height: 17px;
    top: 7px;
    left: 7px;
}

.main-nav__item-shop--search:hover::before {
    content: "";
    background-image: url(../img/zoom-hover.png);
}

.main-nav__item-shop:hover {
    background-color: #ffffff;
}

.main-nav__item-shop--enter {
    width: 93px;
}

.main-nav__item-shop--enter::before {
    content: "";
    background-image: url(../img/enter.png);
    position: absolute;
    width: 20px;
    height: 20px;
    top: 4px;
    left: 16px;
}

.main-nav__item-shop--enter:hover::before {
    content: "";
    background-image: url(../img/enter-hover.png);
}

.main-nav__item-shop--basket {
    width: 100px;
}

.main-nav__item-shop--basket::before {
    content: "";
    background-image: url(../img/basket.png);
    position: absolute;
    display: block;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    top: 4px;
    left: 16px;
}

.main-nav__item-shop--catalog::before {
    content: "";
    background-image: url(../img/basket-active.png);
}

.main-nav__item-shop--basket:hover::before {
    content: "";
    background-image: url(../img/basket-active.png);
}

.main-nav__item-shop:hover>button {
    color: #323232;
}

.main-nav__item-shop--enter:hover>.login {
    display: block;
}

.main-nav__shadow-btn {
    padding: 0;
    border: none;
    background: none;
    color: #ffffff;
    font-weight: 500;
    display: block;
    margin-left: 45px;
}

.main-nav__shadow-btn--search {
    font-size: 0;
}

.main-nav__hover-search {
    width: 345px;
    height: 82px;
    background-color: #f8f7f4;
    border-radius: 10px;
    position: absolute;
    z-index: 22;
    top: 31px;
    right: 0px;
    display: none;
}

.main-nav__item-shop--search:hover>.main-nav__hover-search {
    display: block;
}

.main-nav__item-shop--search:focus>.main-nav__hover-search {
    display: block;
}

.main-nav__input-search {
    width: 320px;
    height: 42px;
    margin-top: 15px;
    border-radius: 8px;
    border: 1px solid;
    border-color: rgb(211, 211, 210);
    color: #999999;
    padding-left: 10px;
}

.login {
    width: 278px;
    height: 214px;
    position: absolute;
    left: -185px;
    top: 31px;
    background-color: white;
    border-radius: 10px;
    background-color: #f8f7f4;
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
    display: none;
    z-index: 100000;
}

.login__input {
    width: 240px;
    height: 43px;
    margin-top: 15px;
    border-radius: 8px;
    border: 1px solid;
    border-color: rgb(211, 211, 210);
    padding-left: 10px;
}

.login__submit {
    display: inline-block;
    vertical-align: middle;
    padding: 12px 35px;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #ffffff;
    vertical-align: top;
    text-decoration: none;
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
    background: #f26843;
    background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
    border-radius: 50px;
    box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
    border: none;
    cursor: pointer;
    margin-top: 15px;
    /*width: 100px;*/
}

.login__registration-wrap {
    display: inline-block;
    vertical-align: middle;
    background-color: #f8f7f4;
    margin-top: 15px;
    margin-left: 10px;
}

.login__additional {
    display: block;
    text-align: left;
    padding-top: 5px;
    color: #323232;
    text-decoration: underline;
    text-decoration-color: #323232;
}

.time-phone {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    margin-top: -8px;
    margin-right: 1px;
}

.time-phone__time {
    margin: 0;
}

.time-phone__phone {
    color: inherit;
    font-size: 22px;
    line-height: 24px;
    font-weight: 700;
}

.adv-slider__list {
    padding: 0;
    list-style-type: none;
    text-align: center;
}

.adv-slider__button {
    display: inline-block;
    vertical-align: middle;
    padding: 12px 44px;
    font-weight: 600;
    font-size: 31px;
    line-height: 41px;
    text-align: center;
    color: #ffffff;
    vertical-align: top;
    text-decoration: none;
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
    background: #f26843;
    background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
    border-radius: 50px;
    box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
    border: none;
    cursor: pointer;
}

.button:hover {
    background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
    box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
    background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
    box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.adv-slider__title {
    width: 700px;
    margin: 0 auto;
    margin-bottom: 31px;
    font-size: 60px;
    line-height: 60px;
    font-weight: 800;
    position: relative;
    padding-top: 262px;
    text-align: center;
    color: #ffffff;
}

.adv-slider__controls label {
    display: inline-block;
    vertical-align: middle;
    width: 17px;
    height: 17px;
    margin-right: 8px;
    vertical-align: top;
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 50%;
    cursor: pointer;
}

.adv-slider__controls label:first-child {
    background-color: #ffffff;
}

.adv-slider {
    position: relative;
}

.adv-slider__controls {
    position: absolute;
    top: 435px;
    left: 0;
    z-index: 20;
    font-size: 0;
}

.slide {
    display: none;
}

.slide1 {
    display: block;
}

.cccontaier {
    min-width: 940px;
    background-color: #849d8f;
    background-repeat: no-repeat;
    background-position: top center;
    transition: background-image 0.5s ease, background-color 0.5s ease;
}


/*.product-1:checked~.cccontaier .slide1,
.product-2:checked~.cccontaier .slide2,
.product-3:checked~.cccontaier .slide3 {
    display: block;
}*/


/*.product-1:checked~.cccontaier label[for="product-1"],
.product-2:checked~.cccontaier label[for="product-2"],
.product-3:checked~.cccontaier label[for="product-3"] {
    background-color: #ffffff;
}*/

.cccontaier {
    background-color: #849d8f;
    background-image: url("../img/slider-item1.png");
}


/*.product-2:checked~.cccontaier {
    background-color: #8996a6;
    background-image: url("../img/slider-item2.png");
}*/


/*.product-3:checked~.cccontaier {
    background-color: #9d8b84;
    background-image: url("../img/slider-item3.png");
}
*/

.container--gifts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 39px;
}

.gifts__cranberry {
    width: 560px;
    min-height: 230px;
    border-radius: 12px;
    background-color: #c37991;
    background-image: url(../img/good-cranberry.jpg);
    background-clip: border-box;
    background-origin: padding-box;
    background-attachment: scroll;
}

.gifts__chocolate {
    width: 560px;
    min-height: 230px;
    border-radius: 12px;
    background-color: #7c5b55;
    background-image: url(../img/good-choco.jpg);
    background-origin: padding-box;
    background-clip: border-box;
    background-attachment: scroll;
}

.gifts__title {
    font-size: 35px;
    line-height: 41px;
    font-weight: 700;
    padding-left: 20px;
    margin-top: 15px;
    margin-bottom: 0;
}

.gifts__text {
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    padding-left: 20px;
    width: 515px;
}

.gifts__btn {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: inherit;
    width: 170px;
    height: 36px;
    padding-top: 10px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: 20px;
    margin-top: 43px;
    color: #ffffff;
    text-decoration: none;
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
    background: #f26843;
    background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
    border-radius: 50px;
    box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.gifts__btn--choco {
    width: 192px;
}

.sales-hit__list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    margin-top: 35px;
    width: 1160px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
}

.sales-hit__item {
    padding-top: 5px;
    width: 280px;
    border-radius: 5px 5px 0 0;
    position: relative;
}

.sales-hit__img {
    display: block;
    margin: 0 auto;
}

.sales-hit__item:before {
    content: "";
    background-image: url(../img/hit.png);
    background-repeat: no-repeat;
    position: absolute;
    width: 60px;
    height: 60px;
    left: 8px;
}

.sales-hit__btn-wrap {
    display: none;
    width: 280px;
    border-radius: 0 0 5px 5px;
    background-color: #abbcb2;
    background-color: rgb(248, 247, 244, 0.2);
}

.sales-hit__item:hover>.sales-hit__btn-wrap {
    display: block;
    position: absolute;
}

.sales-hit__item:hover {
    background-color: #abbcb2;
    background-color: rgb(248, 247, 244, 0.2);
}


.sales-hit__price {
    font-size: 45px;
    line-height: 45px;
    font-weight: 700;
    position: absolute;
    top: 170px;
    left: 8px;
}

.sales-hit__price span {
    font-size: 30px;
    font-weight: 45px;
}

.sales-hit__desc {
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    text-align: center;
    margin-top: 12px;
    margin-bottom: 20px;
    width: 267px;
    padding-left: 10px;
}

.sales-hit__btn {
    display: inline-block;
    vertical-align: middle;
    margin-left: 15px;
    padding: 12px 35px;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #ffffff;
    vertical-align: top;
    text-decoration: none;
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
    background: #f26843;
    background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
    border-radius: 50px;
    box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
    border: none;
    cursor: pointer;
    margin-left: 20px;
}

.about-us__background {
    background-color: #eee3d0;
    background-image: url(../img/font.jpg);
    border-radius: 15px;
    background-repeat: no-repeat;
    min-height: 308px;
}

.about-us__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
}

.about-us__item {
    width: 489px;
    padding-left: 45px;
    position: relative;
}

.about-us__item:nth-of-type(1) {
    margin-bottom: 25px;
    padding-left: 55px;
}

.about-us__item:nth-of-type(3) {
    padding-left: 55px;
}

.about-us__title {
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
    color: #323232;
    padding-top: 25px;
    padding-left: 20px;
}

.about-us__text {
    font-size: 16px;
    line-height: 22px;
    color: #323232;
    margin-bottom: 0;
    margin-top: 0;
    width: 482px;
    padding-left: 3px;
}

.about-us__item:nth-of-type(1) .about-us__text:before {
    content: "";
    background-image: url(../img/about-ice.png);
    background-repeat: no-repeat;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 0px;
    top: -11px;
}

.about-us__item:nth-of-type(2) .about-us__text:before {
    content: "";
    background-image: url(../img/about-cow.png);
    background-repeat: no-repeat;
    position: absolute;
    width: 50px;
    height: 50px;
    left: -7px;
    top: -11px;
}

.about-us__item:nth-of-type(3) .about-us__text:before {
    content: "";
    background-image: url(../img/about-leaf.png);
    background-repeat: no-repeat;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 0px;
    top: -13px;
}

.about-us__item:nth-of-type(4) .about-us__text:before {
    content: "";
    background-image: url(../img/about-thermometer.png);
    background-repeat: no-repeat;
    position: absolute;
    width: 50px;
    height: 50px;
    left: -9px;
    top: -13px;
}

.container--news {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 35px;
}

.blog {
    background-color: #ffffff;
    background-image: url(../img/font-straw.jpg);
    background-repeat: no-repeat;
    border-radius: 15px;
    width: 560px;
    height: 222px;
}

.blog__news {
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    color: #323232;
    padding-top: 10px;
    padding-left: 20px;
    margin-bottom: 0;
}

.blog__text {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    color: #323232;
    text-decoration: underline;
    width: 283px;
    display: block;
    padding-left: 15px;
    margin-top: 0;
}

.subscribe {
    background-color: #ffffff;
    background-image: url(../img/subscribe-font.jpg);
    border-radius: 15px;
    width: 560px;
    height: 222px;
}

.subscribe__wrap {
    background-color: #f8f7f4;
    background-image: url(../img/subscribe-white.jpg);
    background-repeat: no-repeat;
    height: 210px;
    border-radius: 15px;
    width: 545px;
    margin-left: 8px;
    margin-top: 5px;
}

.subscribe__text {
    font-size: 16px;
    line-height: 22px;
    color: #5a5a5a;
    margin: 0;
    width: 515px;
    padding-top: 30px;
    padding-left: 15px;
}

.subscribe__mail {
    width: 370px;
    height: 40px;
    margin-top: 37px;
    margin-left: 15px;
    border-radius: 5px;
    border: 1px solid;
    border-color: rgb(211, 211, 210);
}

.subscribe__mail::-webkit-input-placeholder {
    padding-left: 12px;
    font-weight: 16px;
    line-height: 24px;
    letter-spacing: 0.9px;
}

.subscribe__mail:-ms-input-placeholder {
    padding-left: 12px;
    font-weight: 16px;
    line-height: 24px;
    letter-spacing: 0.9px;
}

.subscribe__mail::-ms-input-placeholder {
    padding-left: 12px;
    font-weight: 16px;
    line-height: 24px;
    letter-spacing: 0.9px;
}

.subscribe__mail::placeholder {
    padding-left: 12px;
    font-weight: 16px;
    line-height: 24px;
    letter-spacing: 0.9px;
}

.subscribe__btn {
    padding: 0;
    border: none;
    background: none;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    border-radius: 30px;
    width: 130px;
    height: 40px;
    padding: 5px 10px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
    background: #f26843;
    background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
    border-radius: 50px;
    box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
    cursor: pointer;
    margin-left: 5px;
}

.map {
    position: relative;
}


/*.map:before {
    content: "";
    background-image: url(../img/map-icecream.png);
    background-repeat: no-repeat;
    position: absolute;
    width: 90px;
    height: 150px;
    top: 140px;
    left: 265px;
}*/

.map__frame {
    /*display: block;*/
    margin-top: 17px;
}

.container--contacts {
    display: flex;
}

.contacts {
    width: 300px;
    max-height: 305px;
    background-color: #fdfefe;
    margin-left: auto;
    margin-top: -375px;
    border-radius: 15px;
    position: relative;
    z-index: 100;
}

.contacts__text {
    font-size: 14px;
    line-height: 20px;
    color: #323232;
    width: 155px;
    padding-left: 20px;
    padding-top: 18px;
    margin-bottom: 0;
}

.contacts__text--phone {
    padding-top: 0;
    width: 180px;
    margin-top: 0;
}

.contacts__text--time {
    padding-top: 3px;
    margin-top: 0;
    margin-bottom: 25px;
}

.contacts__adress {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: #323232;
    padding-left: 20px;
    margin-top: 0;
}

.contacts__btn {
    padding: 0;
    border: none;
    background: none;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    border-radius: 30px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
    background: #f26843;
    background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
    border-radius: 50px;
    box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
    cursor: pointer;
    width: 255px;
    height: 40px;
    padding: 5px 10px;
    margin-left: 20px;
}

.container--footer {
    display: flex;
    flex-direction: row;
    min-height: 100px;
}


.support__list {
    list-style-type: none;
    padding: 0;
    width: 350px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-left: 230px;
}

.support__item {
    margin-right: 32px;
    position: relative;
}

.support__item:nth-of-type(4) {
    margin-left: 15px;
}

.support__item:nth-of-type(1) .support__link {
    font-weight: bold;
}

.support__item:nth-of-type(1):before {
    content: "";
    background-image: url(../img/heart.png);
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    background-repeat: no-repeat;
    left: -20px;
    top: 5px;
}

.support__link {
    font-size: 13px;
    line-height: 18px;
}

.support__link:hover {
    color: #e84d37;
}

.copyright {
    width: 267px;
}

.copyright__logo {
    width: 125px;
    height: 44px;
    background-image: url(../img/logo-footer.png);
    background-repeat: no-repeat;
    display: block;
}

.map {
    margin: 0 auto;
    width: 1200px;
}

.social__list {
    list-style-type: none;
    padding: 0;
    width: 190px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
}

.social__link--twitter:before {
    content: "";
    background-image: url(../img/tw.png);
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    width: 38px;
    height: 38px;
}

.social__link--instagram:before {
    content: "";
    background-image: url(../img/ins.png);
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    width: 38px;
    height: 38px;
}

.social__link--facebook:before {
    content: "";
    background-image: url(../img/fb.png);
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    width: 38px;
    height: 38px;
}

.social__link--vkontakte:before {
    content: "";
    background-image: url(../img/vk.png);
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    width: 38px;
    height: 38px;
}

.copyright {
    margin-left: 185px;
    margin-top: 15px;
}

.copyright__text {
    font-size: 12px;
    line-height: 18px;
    margin-top: 0;
}

.support__link {
    color: inherit;
}

.support__link:hover {
    color: #e84d37;
}

.copyright__link {
    color: inherit;
}


/*CATALOG PAGE WWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWwwwwwwwwwww
*/

.ccontainer {
    width: 1146px;
    margin: 0 auto;
    padding: 0 27px;
    background-color: #849d8f;
    background-repeat: no-repeat;
    background-position: top center;
}


.main-nav__list-link--catalog {
    width: 375px;
}

.main-nav__item--catalog {
    background-color: #d07058;
}

.main-nav__item-link--catalog {
    text-decoration: none;
}

.shop-wrap {
    position: absolute;
    z-index: 200;
    left: -430px;
    top: 35px;
    width: 520px;
    height: 242px;
    background-color: #f8f7f4;
    color: #323232;
    border-radius: 8px;
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
    padding: 0 10px;
    display: none;
}

.shop-wrap__total-price {
    font-size: 15px;
    line-height: 18px;
    font-weight: 700;
}

.main-nav__list-shop--catalog {
    padding-left: 0;
    width: 260px;
    /*margin-left: 370px; QQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQ*/
}

.main-nav__item-shop--catalog {
    width: 120px;
}

.main-nav__item-shop--product:hover>.shop-wrap {
    display: block;
}

.shop-wrap__list {
    list-style-type: none;
    padding: 0;
}

.shop-wrap__cancel {
    display: inline-block;
    vertical-align: middle;
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;

    background: transparent;
}

.main-nav__shadow-btn--catalog {
    width: 70px;
    margin-left: 40px;
}

.shop-wrap__logo--yellow {
    display: inline-block;
    vertical-align: middle;
    background-image: url(../img/small1.png);
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
}

.shop-wrap__logo--purple {
    display: inline-block;
    vertical-align: middle;
    background-image: url(../img/small2.png);
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
}

.shop-wrap__text {
    display: inline-block;
    vertical-align: middle;
    width: 230px;
    margin: 0;
    font-size: 13px;
    line-height: 16px;
    text-align: left;
}

.shop-wrap__count {
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
    line-height: 16px;
}

.shop-wrap__price {
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
    line-height: 16px;
}

.shop-wrap__item:nth-of-type(2) {
    border-bottom: 1px solid #cacac7;
}

.shop-wrap__item {
    display: flex;
    justify-content: space-between;
}

.shop-wrap__total {
    width: 200px;
    margin-left: auto;
}

.shop-wrap__btn {
    padding: 0;
    border: none;
    background: none;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    border-radius: 30px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
    background: #f26843;
    background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
    border-radius: 50px;
    box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
    cursor: pointer;
    width: 200px;
    height: 50px;
}

.breadcrumbs__list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin: 0;
    margin-top: -18px;
    padding-left: 0;
}

.breadcrumbs__link {
    font-size: 14px;
    line-height: 16px;
    position: relative;
    color: inherit;
    padding-right: 20px;
    text-decoration: underline;
}

.breadcrumbs__link--arrow:after {
    content: "»";
    position: absolute;
    right: 4px;
    top: 1px;
    color: rgb(255, 255, 255);
    width: 7px;
    height: 7px;
}

.breadcrumbs__icecream {
    font-size: 35px;
    line-height: 41px;
    font-weight: 700;
    margin: 0;
}

.sort-tools {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 15px;
    width: 858px;
}

.sort-tools__list {
    padding: 0;
    list-style-type: none;
}

.sort-tools__list--popular {
    height: 30px;
    margin-top: 0;
    color: #fff;
    padding: 0 0 0 15px;
    padding-left: 10px;
    width: 190px;
    font-size: 16px;
    /*position: relative;*/
}

.sort-tools__list--popular:hover {
    background-color: #fff;
    color: #323232;
}

.sort-tools__popular-wrap:after {
    content: "";
    width: 25px;
    height: 25px;
    border-radius: 50px;
    bottom: 385px;
    left: 220px;
    background-color: #aabcb2;
    /*background-color: red;*/
    position: absolute;
    z-index: 3000;
}

.sort-tools__popular-wrap:hover:after {
    content: "";
    background-color: #fff;
}

.sort-tools__popular-wrap:before {
    content: "";
    background-image: url(../img/icon-down.png);
    background-repeat: no-repeat;
    position: absolute;
    width: 17px;
    height: 17px;
    z-index: 4000;
    top: 221px;
    left: 226px;
}

.sort-tools__popular-wrap:hover:before {
    content: "";
    background-image: url(../img/icon-down-hover.png);
}

.sort-tools__item--popular p {
    margin: 0;
    margin-top: 4px;
    margin-left: 12px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
}

.sort-tools__title {
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    padding-left: 13px;
    margin-bottom: 7px;
}

.sort-tools__link-small {
    display: block;
    margin: 0;
    margin-top: 5px;
}

.sort-tools__range--two {
    display: none;
}

.sort-tools__range-controls {
    position: relative;
    width: 218px;
    height: 33px;
    /*left: 10px;*/
    border-radius: 15px;
    background-color: #aabcb2;
}

.sort-tools__range-controls .sort-tools__scale {
    height: 4px;
    padding-top: 12px;
}

.sort-tools__range-controls .sort-tools__bar {
    width: 80%;
    height: 4px;
    background: #ffffff;
    margin-left: 15px;
    position: absolute;
    left: 7px;
    top: 15px;
}

.sort-tools__range-toggle {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 4px;
    height: 4px;
    background: #ffffff;
    border: 8px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
}

.sort-tools__range-toggle--min {
    left: 16%;
}

.sort-tools__range-toggle--max {
    left: 62%;
}

.sort-tools__list--fat {
    position: relative;
    left: 2px;
}

.sort-tools__item--fat {
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.sort-tools__item--fill:first-child .sort-tools__checkbox-pic {
    margin-left: 10px;
    margin-right: 5px;
}

.sort-tools__item--fill:nth-child(2) .sort-tools__checkbox-pic {
    margin-left: 5px;
    /*margin-right: 5px;*/
}

.sort-tools__item--fill:first-child .sort-tools__text--jam {
    margin-left: 30px;
    /*margin-right: 5px;*/
}

.sort-tools__radio-pic {
    margin-left: -5px;
    margin-top: 5px;
}

.sort-tools__text--fat {
    margin: 0;
    margin-top: 6px;
    margin-bottom: 6px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    text-transform: lowercase;
    display: block;
    margin-left: 33px;
}

.sort-tools__item--popular .sort-tools__popular-text {
    margin-top: 7px;
}

.sort-tools__item--fat input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.sort-tools__text--fat:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 0;
    height: 25px;
    width: 25px;
    background-image: url(../img/radio-off.png);
    background-repeat: no-repeat;
    cursor: pointer;
}

.sort-tools__radio-input:checked~.sort-tools__text--fat:before {
    content: "";
    position: absolute;
    background-image: url(../img/radio-on.png);
}

.sort-tools__item--fill {
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.sort-tools__title--fill {
    margin: 0;
    margin-top: 5px;
}

.sort-tools__item--fill input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.sort-tools__text--jam {
    margin: 0;
    margin-top: 7px;
    margin-bottom: 5px;
    margin-left: 25px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.sort-tools__text--jam:before {
    content: "";
    background-image: url(../img/checkbox-off.png);
    background-repeat: no-repeat;
    position: absolute;
    left: -8px;
    height: 25px;
    width: 25px;
}

.sort-tools__item:first-child .sort-tools__text--jam:before {
    left: 0px;
}

.sort-tools__checkbox:checked~.sort-tools__text--jam:before {
    content: "";
    position: absolute;
    background-image: url(../img/checkbox-on.png);
}


/*.sort-tools__checkbox-pic {
    position: absolute;
    top: 6px;
    left: -10px;
    height: 26px;
    width: 26px;
    background-image: url(../img/checkbox-off.png);
    background-repeat: no-repeat;
}*/

.sort-tools__item--fill:hover input~.sort-tools__checkbox-pic {
    background-image: url(../img/checkbox-off-hover.png);
}

.sort-tools__item--fill input:checked~.sort-tools__checkbox-pic {
    background-image: url(../img/checkbox-on.png);
}

.sort-tools__wrap--popular {
    width: 193px;
}

.sort-tools__list--popular {
    list-style-type: none;
    position: relative;
    height: 33px;
}

.sort-tools__wrap--range {
    width: 221px;
}

.sort-tools__wrap--fat {
    width: 412px;
}

.sort-tools__list--fat {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 0;
    height: 33px;
    width: 405px;
}

.sort-tools__wrap--fill {
    width: 703px;
}

.sort-tools__list--fill {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5px;
    height: 34px;
    /*margin-right: 20px;*/
}

.sort-tools__btn {
    width: 145px;
    /*  margin-left: 20px;
    display: block;*/
}

.sort-tools__btn-wrap {
    margin-top: 24px;
    margin-left: 2px;
}

.sort-tools__list {
    border-radius: 15px;
    background-color: #a9b9af;
}

.sort-tools__item {
    display: flex;
    align-items: center;
}

.sort-tools__list-small {
    list-style-type: none;
    padding: 0;
    position: absolute;
    left: 0px;
    top: 23px;
    width: 195px;
    min-height: 90px;
    background-color: #ffffff;
    display: none;
    z-index: 30;
}

.sort-tools__item--popular:hover>.sort-tools__list-small {
    display: block;
}

.sort-tools__item--popular {
    position: relative;
    cursor: pointer;
}

.sort-tools__item--popular:after {
    content: "";
    background-image: url(../img/icon-down.png);
    background-repeat: no-repeat;
    position: absolute;
    width: 17px;
    height: 17px;
    right: 10px;
    top: 10px;
}

.sort-tools__item--popular:hover:after {
    content: "";
    background-image: url(../img/icon-down-hover.png);
}

.sort-tools__item--popular:hover>p {
    color: #323232;
}

.sort-tools__item-small {
    list-style-type: none;
    padding: 0;
}

.sort-tools__item-small:hover {
    background-color: #1e90ff;
    cursor: pointer;
}

.sort-tools__item-small:hover>a {
    color: #ffffff;
}

.sort-tools__link-small {
    text-decoration: none;
    color: #323232;
    margin-left: 15px;
}

.sort-tools__btn {
    border: none;
    margin: 0;
    /*margin-left: 6px;*/
    padding: 0;
    width: auto;
    overflow: visible;
    border: 2px solid #ffffff;
    border-radius: 30px;
    width: 144px;
    height: 40px;
    padding: 5px 5px;
    cursor: pointer;
    color: #ffffff;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    background-color: #aabcb2;
}

.sort-tools__btn:hover {
    color: #323232;
    background-color: #ffffff;
}

.sort-tools__btn:active {
    box-shadow: inset 0 2px 2px;
}

.results__list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
    /*margin-bottom: 0;*/
    width: 1160px;
    margin-right: auto;
    margin-left: auto;
}

.results__item {
    padding-top: 5px;
    width: 280px;
    min-height: 358px;
    position: relative;
    border-radius: 5px 5px 0 0;
    /*background-color: grey;*/
}

.results__img {
    display: block;
    margin: 0 auto;
}

.results__item:hover:nth-of-type(even) {
    z-index: 1000;
}

.results__item:hover:nth-of-type(odd) {
    z-index: 90;
}

.results__btn-wrap {
    display: none;
    width: 280px;
    /*margin-left: 20px;*/
    border-radius: 0 0 5px 5px;
    background-color: #abbcb2;
    background-color: rgb(248, 247, 244, 0.2);
}

.results__item:hover {
    /*border-radius: 5px 5px 0 0;*/
    background-color: #abbcb2;
    background-color: rgb(248, 247, 244, 0.2);
}

.results__item:hover>.results__btn-wrap {
    display: block;
    position: absolute;
    bottom: -58px;
}

.results__price {
    font-size: 45px;
    line-height: 45px;
    font-weight: 700;
    position: absolute;
    top: 168px;
    left: 8px;
}

.results__desc {
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    text-align: center;
    margin-top: 13px;
    margin-bottom: 13px;
    width: 258px;
    margin-left: 10px;
    /*min-height: 56px;*/
}

.results__price span {
    font-size: 30px;
    line-height: 45px;
}




.results__btn {
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
    margin-bottom: 10px;
    padding: 12px 35px;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #ffffff;
    vertical-align: top;
    text-decoration: none;
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
    background: #f26843;
    background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
    border-radius: 50px;
    box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
    border: none;

    cursor: pointer;
}

.pagination__list {
    padding: 0;
    list-style-type: none;
    display: flex;
    margin-top: 50px;
    width: 196px;
    margin-left: auto;
    justify-content: space-between;
}

.pagination__item {
    width: 27px;
    height: 27px;
    border-radius: 50%;
}

.pagination__link {
    color: inherit;
    display: block;
    text-align: center;
    display: block;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    height: 20px;
    padding-top: 2px;
}


.pagination__link:hover {
    background-color: #abbcb2;
    background-color: rgb(248, 247, 244, 0.2);
    border-radius: 50%;
}

.pagination__item:first-child>.pagination__link {
    color: rgb(255, 255, 255, 0.2);
}


.pagination__link--current {
    background-color: #ffffff;
    border-radius: 50%;
    text-align: center;
    color: #323232;
}

.main-footer--catalog {
    margin-top: 60px;
    width: 1200px;
    padding: 0 27px;
    margin: 0 auto;
    position: relative;
}

.main-footer--catalog:before {
    content: "";
    width: 1146px;
    border-top: 1px solid rgb(255, 255, 255, 0.2);
}

.social__list--catalog {
    margin-top: 47px;
}

.copyright--catalog {
    margin-top: 30px;
}


/*WWWWWWWWWWWWWWWWW M O D A L WWWWWWWWWWWWWWWWWWWWWWWWWW*/

.modal {
    width: 477px;
    min-height: 442px;
    padding: 0 26px;
    background-color: #f8f7f4;
    border-radius: 15px;
    position: fixed;
    top: 30%;
    left: 30%;
    z-index: 10000;
    display: none;
}

.modal__text {
    margin: 0;
    font-size: 24px;
    line-height: 28px;
    font-weight: 500;
    color: #323232;
    padding-top: 20px;
}

.modal__close {
    position: absolute;
    right: 20px;
    top: 20px;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 0;
    width: 22px;
    height: 22px;
}

.modal__close:before,
.modal__close:after {
    content: "";
    position: absolute;
    width: 19px;
    height: 3px;
    background-color: #323232;
}

.modal__close:before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.modal__close:after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.modal__input {
    width: 266px;
    height: 45px;
    display: block;
    border-radius: 5px;
    box-shadow: none;
    margin-top: 20px;
}

.modal input[type="text"],
.modal input[type="email"],
.modal textarea {
    padding-left: 15px;
    font-size: 16px;
    line-height: 24px;
    border: 1px solid #d3d3d2;
}

.modal textarea {
    padding-top: 10px;
}

.modal input:focus {
    border-color: #8fbdec;
}

.modal__textarea {
    width: 426px;
    min-height: 155px;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 5px;
}

.modal__submit {
    padding: 0;
    border: none;
    background: none;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: inherit;
    border-radius: 30px;
    width: 150px;
    height: 40px;
    text-align: center;
    display: block;
    margin-left: auto;
    color: #ffffff;
    text-decoration: none;
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
    background: #f26843;
    background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
    box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
    cursor: pointer;
}

.modal__submit:hover {
    background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
    box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.modal__submit:active {
    background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
    box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

@keyframes bounce {
    0% {
        transform: translateY(-2000px);
    }

    70% {
        transform: translateY(30px);
    }

    90% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes shake {
    0%,
    100% {
        transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translateX(-10px);
    }

    20%,
    40%,
    60%,
    80% {
        transform: translateX(10px);
    }
}

.modal--show {
    display: block;
    animation: bounce 0.6s;
}

.modal--error {
    animation: shake 0.6s;
}


/*EEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEe*/

.support__list--index {
    margin-top: 30px;
}
